@model Ediz_Yurdakul_ST10242585_CLDV6211_POE_Part_3.Models.TBL_CAR

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TBL_CAR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KILOMETRES_TRAVELLED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KILOMETRES_TRAVELLED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SERVICE_KILOMETRES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SERVICE_KILOMETRES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AVAILABLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AVAILABLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBL_CAR_MODEL.CAR_MODEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBL_CAR_MODEL.CAR_MODEL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
